﻿#Space {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 5px;
  margin-top:5px;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.LoginButton {
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}

.LoginButton {
  border: 1px solid #00A3E8;
  color: #00A3E8;  
}
.LoginButton:hover,.LoginButton:focus{
  background-color: #00A3E8;
  color: #ffffff;
}



#parent {    
    text-align: center;
}
#child {
    margin: 0 auto;
    display: inline-block;
   
}



.comments-top-top {
	margin: 1.5em 0;
   padding-bottom   :60px;
   padding-top:auto;
}

.top-comment-leftCources{
	float: left;
	width: 25%;
}

.top-comment-rightCources{
	float: left;
	width:60%;
	margin-left:0%;
}

.page {
  padding: 0.5em;
   margin: 1.7em 0;
}
.login
{
      color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
    color: #fff;
  font-size: 25px;
  font-weight: bold;

  
  
    }
    
.aboutus:hover
{
   color:#00A3E8;
   text-decoration:underline;
   cursor:pointer;
   

      
}
.aboutus
{
    background-image: url(../img/bullete.png);
 background-size: 20px 20px;    
background-repeat: no-repeat;
background-position: 0 .4em;
padding-left:50px;
line-height:30px;
vertical-align:top;
list-style-type:none;
color:#221FF3;
font-size:18px;

    }
.bar:after {
    content:"select your profile pic";
    background-color:white;
}
.vspace30 {
	padding: 30px 0px;
}

