#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  height: 95px;
  width: 55px;

}
.slides-navigation a.prev {
  background-image: url("../img/slider/navigation-icon.png");
  background-repeat: no-repeat; 
  background-position: left -240px center;
  left: 0;  
}
.slides-navigation a.next {
  background-image: url("../img/slider/navigation-icon.png");
  background-position: left -316px center;
  background-repeat: no-repeat;
  right: 0;
}
.slides-navigation a.prev:hover{
  background-position: left center;
}
.slides-navigation a.next:hover {  
  background-position: left -75px center;
  
}


.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border-radius: 15px;
  width: 12px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  height: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -137%;
}
.slides-pagination a.current {  
  background-color: #00A3E8;
}
