
/*=======================================
Template Design By WpFreeware Team.
Author URI : http://www.wpfreeware.com/
========================================*/

.navbar-default .navbar-brand span{
  color: #00A3E8;
}
.navbar-default .navbar-brand span{
  color: #00A3E8;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #00A3E8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color: #00A3E8;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #00A3E8 !important;  
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #00A3E8;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #00A3E8;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #00A3E8;
}
.slides-pagination a.current {  
  background-color: #00A3E8;
}
.slider_btn:hover,.slider_btn:focus{  
  color: #00A3E8;
  border-color: #00A3E8; 
}
.titile:after{ 
  background-color: #00A3E8;
}
.feed_tabs{border-bottom: 2px solid #00A3E8;}
.feed_tabs li.active a,.feed_tabs li.active a:hover,.feed_tabs li.active a:focus{
  border:2px solid;
  color: #00A3E8 !important; 
  border-color: #00A3E8 #00A3E8 transparent;
}

.feed_tabs li a:hover{ 
  background-color: #00A3E8;
}
.news_tab .media-body > a :hover{
  color: #00A3E8;
}
.see_all:hover, .see_all:focus{
  border-color:#00A3E8;
  color: #00A3E8;  
}
.single_notice_pane .slick-prev {
  background-color: #00A3E8; 
}
.single_notice_pane .slick-next {
  background-color: #00A3E8;  
}
.title_area span{  
  background: none repeat scroll 0 0 #00A3E8;
}
.whyus_icon{
  background: none repeat scroll 0 0 #00A3E8;  
}
.whyus_icon2{
  background: none repeat scroll 0 0 #fff;  
}
.course_more:hover,.course_more:focus {
  color: #00A3E8;    
}
.singCourse_title a:hover{  
  color: #00A3E8;
}
.singCourse_price{
  color: #00A3E8;
}
.tutors_thumb {
  background: none repeat scroll 0 0 #00A3E8;
}
.singTutors_content>span{
  background-color: #00A3E8;
}
.tutors_socnav li a:hover,.tutors_socnav li a:focus{
  color: #00A3E8;
  border-color: #00A3E8;
}
.tutors_nav .slick-dots li.slick-active{
  border-color: #00A3E8;
}
.stsTestimonial_content > p {
  color: #00A3E8;
}
.scrollToTop:hover{
  background-color: #00A3E8;  
}
.footer_bootomLeft a{
  color: #00A3E8;
}
.pagination li a{
  color: #00A3E8;
}
.pagination li a:hover,.pagination li a:focus{
  background-color: #00A3E8;
}
.single_blog_archive {
  border-bottom: 3px solid #00A3E8;  
}
.blog_title a:hover{
  color: #00A3E8;
}
.blog_commentbox > p:hover{
  color: #00A3E8;
}
.blog_commentbox>a:hover{
  color: #00A3E8;
}
.blog_readmore:hover,.blog_readmore:focus{  
  color: #00A3E8;
}
.blog_readmore:hover::before,
.blog_readmore:hover::after,
.blog_readmore:focus::before,
.blog_readmore:focus::after {
  color: #00A3E8; 
}
.tags_nav li a:hover,.tags_nav li a:focus{  
  background-color: #00A3E8;
}
.single_blog blockquote>span{
  color: #00A3E8;
}
.single_blog ul li > span {
  color: #00A3E8;
}
.prev_post:hover{
  color: #00A3E8;
  border-color: #00A3E8; 
}
.next_post:hover{
  color: #00A3E8;
  border-color: #00A3E8;
}
.related_post > h2 {
  color: #00A3E8;
}
.events_slider .slick-prev,.events_slider .slick-next {
  background-color: #00A3E8;
}
.error_page_content h1:after, .error_page_content h1:before {
  border: 2px solid #00A3E8;
}
.error_page_content p>a:hover{
  color: #00A3E8;
}
.error_page_content p:before {
  border-top: 1px solid #00A3E8;
}
.error_page_content p:after {
  border-top: 1px solid #00A3E8;
}
.error_page_content p {
  border-bottom: 2px solid #00A3E8;
  border-top: 2px solid #00A3E8;
}
.error_page_content h1 {  
  color: #00A3E8;
}
.wp-form-control:focus{
  border: 1px solid #00A3E8;
}
.wpcf7-submit {
  border: 1px solid #00A3E8;
  color: #00A3E8;  
}
.wpcf7-submit:hover,.wpcf7-submit:focus{
  background-color: #00A3E8;
  color: #ffffff;
}
.footer_widget_nav li a {
  color: #00A3E8;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #00A3E8 !important;  
}
.single_sidebar > h2 {
  background-color: #00A3E8;
}
.singlecourse_price {  
  color: #00A3E8;
}
.course_table thead{
  background-color: #00A3E8;
}
.related_course > h2 {
  color: #00A3E8;  
}
.single_sidebar > ul > li>a:hover,.single_sidebar > ul > li>a:focus{
  color: #00A3E8;
}
.news_tab .media-body > a:hover {
  color: #00A3E8;
}



.wpcf7-edit {
 
  color: #fff;
   background-color: #428bca;
  width:20px;
  height:8px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
   text-decoration: none;
}

.wpcf7-edit:hover,.wpcf7-edit:focus {
  color: #fff;
   background-color: #428bca;
  width:20px;
  height:8px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
   text-decoration: none;
}




.wpcf7-activbtn {
 
  color: #fff;
   background-color: #00A3E8;
  width:20px;
  height:8px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
   text-decoration: none;
}

.wpcf7-activbtn:hover,.wpcf7-activbtn:focus {
  color: #fff;
   background-color: #00A3E8;
  width:20px;
  height:8px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
   text-decoration: none;
}



.wpcf7-active {
 
  color: #fff;
   background-color: #428bca;
  padding: 10px 15px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
   text-decoration: none;
}

.wpcf7-active:hover,.wpcf7-active:focus {
  color: #fff;
   background-color: #428bca;
  padding: 10px 15px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
   text-decoration: none;
}







.wpcf7-delete {
 
  color: #fff;
   background-color: #d9534f;
   padding: 10px 15px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
   text-decoration: none;
}

.wpcf7-delete:hover,.wpcf7-delete:focus {
  color: #fff;
   background-color: #d9534f;
  padding: 10px 15px;
  border-radius: 2px;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
   text-decoration: none;
}

.wpcf7-clear {
  border: 1px solid #ffa500;
  color: #ffa500;
  
   background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}
.wpcf7-clear:hover,.wpcf7-clear:focus{
  background-color: #ffa500;
  color: #ffffff;
  
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}



.wpcf7-updated {
  border: 1px solid #5cb85c;
  color: #5cb85c;
  
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}
.wpcf7-updated:hover,.wpcf7-updated:focus{
  background-color: #5cb85c;
  color: #ffffff;
   padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}




/*Header nav color*/
/*.navbar-default {
  background-color: #313b3d;
}*/

/*Footer top color*/
/*.footer_top {
  background-color: #1e2223;  
}*/

/*=======================================
Template Design By WpFreeware Team.
Author URI : http://www.wpfreeware.com/
========================================*/