﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AboutStudent.aspx.cs" Inherits="AboutStudent" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <h1> You can write about Student only after 2 month of Tution is complated with him/her </h1>
<%--Select Student : <asp:DropDownList ID="ddlStudent" runat="server">
    </asp:DropDownList>
    <asp:RequiredFieldValidator ControlToValidate="ddlStudent" ID="RequiredFieldValidator5"
ValidationGroup="new" CssClass="errormesg" ForeColor="Red" ErrorMessage="Please select a Student"
InitialValue="0" runat="server"  Display="Dynamic"></asp:RequiredFieldValidator>
    <br />
Writes :<asp:TextBox ID="txtWrites" runat="server" TextMode="MultiLine"></asp:TextBox>
<asp:RequiredFieldValidator ID="RequiredFieldValidator9" runat="server" ErrorMessage="Please Enter Writes" ValidationGroup="new" CssClass="errormesg" ForeColor="Red" ControlToValidate="txtWrites"></asp:RequiredFieldValidator>
<br />
    <asp:Button ID="btnsave" runat="server" Text="Save" ValidationGroup="new" onclick="btnsave_Click"/>--%>
</div>
    </form>
</body>
</html>
