
﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default2" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/superslides.css"/>
    <link href="css/slick.css" rel="stylesheet"/> 
    <link rel='stylesheet prefetch' href="css/https___cdn.rawgit.com_pguso_jquery-plugin-circliful_master_css_jquery.circliful.css is not available.css"/>  
    <link rel="stylesheet" href="css/animate.css"/> 
    <link rel="stylesheet" href="css/queryLoader.css" type="text/css" />
    <link type="text/css" media="all" rel="stylesheet" href="css/jquery.tosrus.all.css" />    
    <link id="switcher" href="css/themes/default-theme.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
    <link href="css/css.css"' rel='stylesheet' type='text/css'/>   
    <link href="css/css1.css" rel='stylesheet' type='text/css'/>    
    <link rel="stylesheet" href="css/MyStyleSheet.css" type="text/css" />


<link rel="stylesheet" href="JsSlider/flexslider.css" type="text/css" media="screen" />
	<%--<link rel="Stylesheet" href="JsSlider/style.css" type="text/css"/>--%>



  <link rel="stylesheet" href="loginpage/style.css">


</head>


<body>









    <form id="form1" runat="server">
      <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

       <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">


            <div class="navbar-header" >
    
             <a class="navbar-brand" href="Default.aspx" class="blog_img">
              <img src="img/logo.jpg" alt="" height="118px" width="165px"/>
              </a> 
             </div>

                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                
<%--                <div class="col-ld-4  col-md-4 col-sm-4" >
                <div class="single_footer_widget">
                <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" Text="envalid Email"  ValidationGroup="new" ToolTip="Invalid Email" ControlToValidate="txtemailid" ValidationExpression="(\w)+@(\w)+.com(.(\w)+)*" ForeColor="Red" Display="Dynamic" />
                <asp:Label ID="lblmsg" runat="server" ForeColor="Red"></asp:Label>
                <br/>
                <asp:RadioButton ID="rdostudent" Text="Student" GroupName="login" runat="server" /><asp:RadioButton ID="rdoteacher" Text="Tutor" GroupName="login" runat="server" />
                <ul class="footer_widget_nav">
                <li><asp:TextBox ID="txtemailid" placeholder="Enter Your Email" runat="server" Width="150px" required></asp:TextBox></li>
                <li><asp:TextBox ID="txtpassword" runat="server" placeholder="Enter Your Password" TextMode="Password" Width="150px" required></asp:TextBox> <asp:Button ID="btnlogin" runat="server" ValidationGroup="new" Text="Log In" onclick="btnlogin_Click" class="LoginButton"/></li>
                <li><a href="ForgotPassword.aspx">Forgot Password</a></li>
                </ul>
                </div>
                </div>--%>

<div class="col-ld-4  col-md-4 col-sm-4" >
<asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" Text="envalid Email"  ValidationGroup="new" ToolTip="Invalid Email" ControlToValidate="txtemailid" ValidationExpression="(\w)+@(\w)+.com(.(\w)+)*" ForeColor="Red" Display="Dynamic" />
<asp:Label ID="lblmsg" runat="server" ForeColor="Red"></asp:Label>
<br/>
<asp:RadioButton ID="rdostudent" Text="Student" GroupName="login" runat="server" />&nbsp&nbsp<asp:RadioButton ID="rdoteacher" Text="Tutor" GroupName="login" runat="server" />
<ul class="footer_widget_nav" >

<li >
<div class="col-ld-6  col-md-6 col-sm-6"  style="float:left;padding:1px;font-size:10px"><asp:TextBox ID="txtemailid" placeholder="Enter Your Email" runat="server" Width="130px" required></asp:TextBox></div>
<div class="col-ld-6  col-md-6 col-sm-6"  style="float:left;padding:1px;font-size:10px"><asp:TextBox ID="txtpassword" runat="server" placeholder="Enter Your Password" TextMode="Password" Width="130px" required></asp:TextBox></div>
</li>
<li > 
<div class="col-ld-6  col-md-6 col-sm-6"  style="float:left;padding:1px"><asp:Button ID="btnlogin" runat="server" ValidationGroup="new" Text="Log In" onclick="btnlogin_Click" class="LoginButton"/></div>
<div class="col-ld-6  col-md-6 col-sm-6"  style="float:left;padding:1px"><a href="ForgotPassword.aspx" style="color:#00A3E8;font-size:12px;float:left">Forgot Password</a></div>
</li>


<%--<table border="0" style="border-spacing:10px">
<tr>
<td><asp:TextBox ID="txtemailid" placeholder="Enter Your Email" runat="server" Width="130px" required></asp:TextBox></td>
<td><asp:TextBox ID="txtpassword" runat="server" placeholder="Enter Your Password" TextMode="Password" Width="130px" required></asp:TextBox></td>
</tr>
<tr>
<td><asp:Button ID="btnlogin" runat="server" ValidationGroup="new" Text="Log In" onclick="btnlogin_Click" class="LoginButton"/></td>
<td><a href="ForgotPassword.aspx" style="color:#00A3E8;font-size:12px;">Forgot Password</a></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</table>--%>


</ul>

</div>


                </ContentTemplate>
                </asp:UpdatePanel>




            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li><asp:LinkButton ID="lnkhome" PostBackUrl="Default.aspx?pg=hm" runat="server">Home</asp:LinkButton></li>
                <li><asp:LinkButton ID="lnkstudentprofile" PostBackUrl="StudentProfile.aspx?pg=sp" runat="server">Profile</asp:LinkButton></li>
                <li><asp:LinkButton ID="lnkteacherprofile" PostBackUrl="TeacherProfile.aspx?pg=tp" runat="server">Profile</asp:LinkButton>
                <li><a href="AboutUs.aspx?pg=ab">About</a></li>
                <li><a href="HowRTWork.aspx?pg=hw">How RT Work</a></li>
                <li ><a href="ContactUs.aspx?pg=cu">Contact</a></li>
                <li><asp:LinkButton ID="lnklogout" runat="server" onclick="lnklogout_Click">LogOut</asp:LinkButton></li>

              </ul>           
            </div><!--/.nav-collapse -->

<%--            <div style="margin-left:20%;" class="col-lg-1">
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>

            <asp:RegularExpressionValidator ID="EmailFormat" runat="server" Text="Please enter a valid Email"  ValidationGroup="new" ToolTip="Invalid Email" ControlToValidate="txtemailid" ValidationExpression="(\w)+@(\w)+.com(.(\w)+)*" ForeColor="Red"  />
            <asp:Label ID="lblmsg" runat="server" ForeColor="Red"></asp:Label><br />
            <asp:RadioButton ID="rdostudent" Text="Student" GroupName="login" runat="server" /><asp:RadioButton ID="rdoteacher" Text="Tutor" GroupName="login" runat="server" />
            <br />            
            <asp:TextBox ID="txtemailid" placeholder="Enter Your Email" runat="server" Width="150px"></asp:TextBox>
            <asp:TextBox ID="txtpassword" runat="server" placeholder="Enter Your Password" TextMode="Password" Width="150px"></asp:TextBox>
            <asp:Button ID="btnlogin" runat="server" ValidationGroup="new" Text="Log In" onclick="btnlogin_Click" class="LoginButton"/>                   
            <br />  
            <asp:RequiredFieldValidator ID="RequiredFieldValidator10" runat="server" ErrorMessage="Enter Email" ValidationGroup="new" CssClass="errormesg" ForeColor="Red" ControlToValidate="txtemailid"></asp:RequiredFieldValidator>
            <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Enter Password" ValidationGroup="new" CssClass="errormesg" ForeColor="Red" ControlToValidate="txtpassword"></asp:RequiredFieldValidator>
            <a href="ForgotPassword.aspx">Forgot Password</a>
            </ContentTemplate>
            </asp:UpdatePanel>
            </div>--%>









          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================--> 

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="Space">
    </section>

        <section id="Section1">
    </section>

        <section id="Section2">
    </section>

        <section id="Section3">
    </section>






    <div>
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
				
      <div class="container">
	                  <div class="row">

          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="courseArchive_content">


              <div class="row">
 
				<div class="col-lg-12 col-12 col-sm-12">
                  <div class="single_blog">
                    <div class="blogimg_container">
                      <a href="#" class="blog_img">

<section class="slider">
<div class="flexslider" width="50%">
<ul class="slides">
<asp:Repeater ID="rptadvertimsement" runat="server">
<ItemTemplate>
<li>          
<div class="banner-matter"">
<a href="<%#Eval("Url")%>" target="_blank" style="text-decoration:none">
<img src="rt/<%#Eval("ImageName")%>" height="100%" width="100%"/>
<h3><asp:Label ID="lblTitle" runat="server" Text='<%#Eval("Title")  %>'></asp:Label></h3>
<p>
<asp:Label ID="lblDescription" runat="server" Text='<%#Eval("Description")  %>'></asp:Label></p>
</a>
</div>
</li>
</ItemTemplate>
</asp:Repeater>		    
</ul>
</div>
</section>



                      </a>
				
                    </div>


                  
                  </div>                 
                </div>
               
              </div>
                    
            </div>
          </div>






          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="courseArchive_sidebar">



<div class="col-lg-1" style="height:10px";></div>


              <div class="single_sidebar">
                <ul class="news_tab">
                  <li>
                    <div class="media">

                      <div class="media-left">
                        <a href="#" class="news_img">
                          <img alt="img" src="img/bullete.png" class="media-object">
                        </a>
                      </div>

                      <div class="media-body">
                       <a href="StudentRegistration.aspx" style="font-size:27px"><span style="color:#00A3E8">Parents/</span><span style="color:#ED1B23">Student</span> Sign Up</a>
                      </div>


                    </div>
                  </li>
               </ul>
              </div>

              <div class="single_sidebar">
     
                <ul class="news_tab">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="news_img">
                          <img alt="img" src="img/bullete.png" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="TeacherRegistration.aspx" style="font-size:27px">Become a <span style="color:#221FF3">Right</span>  <span style="color:#00A3E8">Tutor</span><span style="color:#ED1B23">(Register)</span></a>
                      </div>
                    </div>
                  </li>
               </ul>
              </div>

			  


            </div>
          </div>
        </div>
      </div>

    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
  

    <!--FlexSlider-->
      <script src="JsSlider/jquery.min.js"></script>

	<script defer src="JsSlider/jquery.flexslider.js"></script>
	<script type="text/javascript">
	    $(function () {
	        SyntaxHighlighter.all();
	    });
	    $(window).load(function () {
	        $('.flexslider').flexslider({
	            animation: "slide",
	            start: function (slider) {
	                $('body').removeClass('loading');
	            }
	        });
	    });
  </script>


  

    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->

      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                   <h3><asp:Label ID="lbltutors" runat="server"></asp:Label>+</h3>
                <ul class="footer_widget_nav">
                  <li><a href="#">Our Tutors</a></li>
                </ul>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                 <h3><asp:Label ID="lblstudent" runat="server"></asp:Label>+</h3>
                <ul class="footer_widget_nav">
                  <li><a href="#">Our Students</a></li>
                </ul>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>Social Links</h3>
                <ul class="footer_social">
                  <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Instagram" class="soc_tooltip"  href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" class="soc_tooltip"  href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="Whatsup" class="soc_tooltip"  href="#"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <!-- End footer top area -->

      <!-- Start footer bottom area -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; All Rights Reserved</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    </footer>
    <!--=========== END FOOTER SECTION ================--> 

  
      <script src="Js/jquery.circliful.min.js" type="text/javascript"></script>
    <script src="Js/jquery.min.js" type="text/javascript"></script>

<%--    <script src="JsTemplate/queryloader2.min.js" type="text/javascript"></script>--%>
    <script src="JsTemplate/wow.min.js"></script>  
    <script src="JsTemplate/bootstrap.min.js"></script>
    <script src="JsTemplate/slick.min.js"></script>
    <script src="JsTemplate/jquery.easing.1.3.js"></script>
    <script src="JsTemplate/jquery.animate-enhanced.min.js"></script>
    <script src="JsTemplate/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>   
     <script type="text/javascript" language="javascript" src="JsTemplate/jquery.tosrus.min.all.js"></script>   
    <script src="JsTemplate/custom.js"></script>
    </form>
</body>
</html>

