﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="HowRTWork.aspx.cs" Inherits="HowItsWork" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="Space">
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

<img src="img/hiw.jpg" height="100%" width="100%"/>
</asp:Content>

