﻿<%@ Page Title="" Language="C#" MasterPageFile="~/rt/RTMasterPage.master" AutoEventWireup="true" CodeFile="AboutUs.aspx.cs" Inherits="rt_AboutUs" %>
<%@ Register Assembly="CKEditor.NET" Namespace="CKEditor.NET" TagPrefix="CKEditor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<section id="contact">
      <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12"> 
            <div class="title_area">
              <h2 class="title_two">About Us Contant</h2>
              <span></span> 
            </div>
          </div>
       </div>
       <div class="row" >

       <img src="../img/Vision.png"

<div class="container" id="parent">

  <div class="row">
    <div class="col-lg-12">

    <CKEditor:CKEditorControl ID="CKEditor1" runat="server"></CKEditor:CKEditorControl>
    <br />
    <asp:Button ID="btnsave" runat="server" Text="Save" onclick="btnsave_Click"></asp:Button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
</asp:Content>

